@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Space+Grotesk:wght@500;700&display=swap');

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}
